input[type="range"] {
  display: block;
  -webkit-appearance: none;
  background-color: #bdc3c7;
  width: 100%;
  height: 5px;
  border-radius: 5px;
  outline: 0;
  margin-top: 40px;
  margin-bottom: 40px;
}
input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  background-color: #e74c3c;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 2px solid white;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}
​input[type="range"]::-webkit-slider-thumb:hover {
  background-color: white;
  border: 2px solid #e74c3c;
}
input[type="range"]::-webkit-slider-thumb:active {
  transform: scale(1.2);
}

.start_button {
  background-color: #00aa00;
  width: 36px;
  height: 36px;
  margin-right: 12px;
}

.stop_button {
  background-color: #aa0000;
  width: 36px;
  height: 36px;
}

.randomize_button {
  background-color: #6600ff;
  width: 36px;
  height: 36px;
}

.check {
  width: 24px;
  height: 24px;
  margin-right: 12px;
}

.check input {
  display: none;
}

.check input:checked + .box {
  background-color: #e74c3c;
}

.box {
  width: 24px;
  height: 24px;
  transition: all 1.1s cubic-bezier(0.19, 1, 0.22, 1);
  border: 2px solid #e74c3c;
  border-radius: 8px;
  background-color: white;
  position: relative;
  overflow: hidden;
  cursor: pointer;
}

box:after {
  content: "";
  position: absolute;
  border-left: 7.5px solid;
  border-bottom: 7.5px solid;
  border-color: #40c540;
  transform: rotate(-45deg) translate3d(0, 0, 0);
  transform-origin: center center;
  transition: all 1.1s cubic-bezier(0.19, 1, 0.22, 1);
  margin: auto;
}
